.hljs {
  color: #abb2bf !important;
  background: #282c34 !important;
  border-radius: 10px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
  margin-top: 16px;
  padding: 12px;
  overflow: auto;
}
.hljs-comment {
  color: #5c6370 !important;
  font-style: italic !important;
}
.hljs-meta {
  color: #61aeee;
}
.hljs-keyword {
  color: #c678dd;
}
.hljs-string {
  color: #98c379;
}
/* .hljs-class {
  color: green;
} */
.hljs-title {
  color: #e6c07b;
}
/* .hljs-function {
  color: green;
}
.hljs-params {
  color: green;
} */
